 [Unit]
 Description=CronAutoPark
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/php /var/www/html/index.php CronAutoPark start

 [Install]
 WantedBy=multi-user.target
 