 [Unit]
 Description=CronReport
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/php /var/www/html/index.php CronReport start

 [Install]
 WantedBy=multi-user.target
 