 [Unit]
 Description=CronUploadLogs
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/php /var/www/html/index.php CronUploadLogs start

 [Install]
 WantedBy=multi-user.target
 