
 [Unit]
 Description=LiveMysqlnoXx
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/php /home/secure.noxx.online/public_html/live_mysql_status.php 

 [Install]
 WantedBy=multi-user.target
