
 [Unit]
 Description=Mysql
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/php /var/www/html/mysql_status.php 

 [Install]
 WantedBy=multi-user.target
